#the log size(MB) per process. Max value is 2000 MB
nvm.size = 20
chunk.size = 4096
copy.strategy = 1
debug.enable = 1
nvram.wbw = 19
pfile.location = /home/pradeep/testmmap
#this is a restart run or not - 1 or 0
rstart = 0
#offset used during buddy selection
buddy.offset = 3 
#if not -1, we do a naive split
split.ratio = 0
#TRADITIONAL = 0 , ONLINE = 1
cr.type = 1
#assigned free memory per MPI node in MB
free.memory = 5
#enables the early copy
early.copy.enabled = 1
#time increment if invalidation micro
early.copy.offset = 20000
#helper cpu cores
helper.cores = 3
